#top-right {
    display: flex;
    justify-content: end;
}

#search-bar {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
